.shape {
  border-bottom: 30px solid #fe9f5f;
  border-top: 30px solid transparent;
  border-right: 30px solid transparent;
  border-left: 30px solid transparent;

  margin: 0 auto;
  width: 700px;
  height: 100px;
  position: relative;
  top: -70px;
}

.bgflim {
  z-index: -1;
  filter: brightness(0.5);
  height: 100%;
  object-fit: cover;
}

.tableSeat {
  top: 70px;
  left: -51px;
  width: 750px;
  /* text-align: center; */
}

.num {
  width: 45px;
  height: 35px;
  background: none;
  border: none;
  margin-left: 2%;
  margin-bottom: 1%;
  font-size: 30px;
  color: yellow;
}

.alphabet {
  width: 45px;
  height: 35px;
  background: none;
  border: none;
  margin-left: 2%;
  margin-bottom: 1%;
  font-size: 30px;
  color: yellow;
}

.rowsSeat {
  width: 45px;
  height: 35px;
  background: none;
  border: none;
  margin-left: 2%;
  margin-bottom: 1%;
  font-size: 30px;
  color: yellow;
  pointer-events: none;
}

.gheDaDat {
  border: 3px solid orange;
  background: orange;
  color: #000;
  cursor: no-drop !important;
  border-radius: 5px;
  width: 45px;
  height: 35px;
  margin-right: 10px;
  /* pointer-events: none; */
}

.gheChuaDat {
  border: 3px solid orange;
  width: 45px;
  height: 35px;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
  background-color: white;
}

.gheDangChon {
  background: rgb(109, 238, 109);
  border: 3px solid rgb(109, 238, 109);
  color: #000;
  cursor: pointer;
  border-radius: 5px;
  width: 45px;
  height: 35px;
}

.tableSeat div:first-child button {
  border: none;
  width: 45px;
  height: 35px;
  border-radius: 5px;
  cursor: pointer;
  background: none;
  color: yellow;
  font-size: 30px;
  pointer-events: none;
}
.price th,
.price td {
  border: 1px solid white;
  padding-right: 40px;
}
